@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="Entete text-center">
    <h3>Dealy meal planner</h3>
</div>

<div class="row">
    <div class="Category col-3">
        <h6>Category</h6>
    </div>
    <div class="Details col-9">
        <h6>Details</h6>
    </div>
</div>