
@{
    ViewData["Title"] = "Mealtime";
}

<br />

<div class="row justify-content-center container01">
    <div class="subContainer col-sm-4 col-md-4 col-lg-6">
        <div>
            <h5>Mealtimes</h5>
            <hr />
        </div>
        <form asp-controller="Home" asp-action="index" asp-route-catName="">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="Breakfast" value="something">
                <label class="form-check-label" for="check2">Breakfast</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check2" name="Lunch" value="something">
                <label class="form-check-label" for="check2">Lunch</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check3" name="Dinner" value="something">
                <label class="form-check-label" for="check2">Dinner</label>
            </div>

            <hr />
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>

