html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.Entete {
    /*    background-color: darkgoldenrod;*/
    background-color: black;
    color: darkgoldenrod;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.Category-block {
    background-color: #F5F5F5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
    /*border: 0.5px solid orange;*/
    border-radius: 5px;
}
/*.Details {
    background-color:#F5F5F5;
}*/
.Category-section {
    background-color: #F5F5F5;
    border: solid orange;
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
}

.subCategory {
    color: tomato;
}



.orange {
    color: orange;
}

.container01 {
    background-color: #F5F5F5;

  /*  padding-left: 500px;
    padding-right: 20px;*/
}

.subContainer {
    margin-left: 0px;
    margin-right: 0px;
    border: solid orange;
    padding: 20px;
}

.Product-block {
    background-color: #F5F5F5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 2px;
}

.Product-block01 {
    background-color: white;
    color: darkgoldenrod;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0.5px solid orange;
    /*border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;*/
    padding: 0px;
}

.Product-block02 {
    background-color: white;
    color: darkgoldenrod;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0.5px solid orange;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    padding: 0px;
}

.Product-block03 {
    background-color: white;
    color: darkgoldenrod;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0.5px solid orange;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    padding: 0px;
}


